---
http_interactions:
- request:
    method: get
    uri: https://www.mohfw.gov.in/dashboard/data/data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: null
    headers:
      Last-Modified:
      - Sat, 18 Apr 2020 03:10:15 GMT
      X-Firefox-Spdy:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n\t{\n\t\t\"sno\": \"1\",\n\t\t\"state_name\": \"Andhra Pradesh\",\n\t\t\"positive\":
        \"572\",\n\t\t\"cured\": \"36\",\n\t\t\"death\": \"14\",\n\t\t\"state_code\":
        \"28\"\n\t},\n\t{\n\t\t\"sno\": \"2\",\n\t\t\"state_name\": \"Andaman and
        Nicobar Islands\",\n\t\t\"positive\": \"12\",\n\t\t\"cured\": \"11\",\n\t\t\"death\":
        \"0\",\n\t\t\"state_code\": \"35\"\n\t},\n\t{\n\t\t\"sno\": \"3\",\n\t\t\"state_name\":
        \"Arunachal Pradesh\",\n\t\t\"positive\": \"1\",\n\t\t\"cured\": \"0\",\n\t\t\"death\":
        \"0\",\n\t\t\"state_code\": \"12\"\n\t},\n\t{\n\t\t\"sno\": \"4\",\n\t\t\"state_name\":
        \"Assam\",\n\t\t\"positive\[...]
